@import "../helpers/mixins";
header {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    figure {
        height: 50vh;
        width: auto;
        // max-height: 35em;
        background: url("/assets/content/main-banner.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include layout(flex,
        flex-start,
        center);
        .content {
            @include layout(flex,
            space-between,
            center);
            .text {
                p {
                    line-height: 1.7;
                    // font-size: clamp(1rem, calc(1.5rem + 2.5vw), 2rem);
                    font-size: 2rem;
                }
                p.lead {
                    font-weight: var(--font-weight-400);
                    margin-bottom: -1em;
                }
                h1 {
                    // font-size: clamp(2rem, calc(2rem + 8.5vw), 9.5rem);
                    font-size: 10rem;
                    color: var(--color-red-200);
                    letter-spacing: 10px;
                    font-family: serif;
                }
                p.paragraph {
                    color: var(--color-red-200);
                    margin-top: -0.6em;
                    max-width: 70%;
                }
                button {
                    margin-top: 2.2em;
                }
                @media #{$media-laptop} {
                    h1 {
                        font-size: 7rem;
                    }
                    p {
                        font-size: 1.4rem;
                    }
                }
                @media #{$media-tablet} {
                    h1 {
                        font-size: 6rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
            .image {
                img {
                    max-width: 80em;
                }
            }
        }
    }
}