@import "../helpers/mixins";
header {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    figure.banner {
        height: 55vh;
        width: auto;
        background: url("/assets/content/main-banner.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include layout(flex,
        flex-start,
        center);
        .content {
            @include layout(flex,
            space-between,
            center);
            .text {
                p {
                    line-height: 1.7;
                    font-size: 2rem;
                    max-width: 70%;
                }
                p:nth-child(1) {
                    font-weight: var(--font-weight-400);
                    margin-bottom: -0.8em;
                }
                h1 {
                    font-size: 10rem;
                    color: var(--color-red-200);
                    letter-spacing: 10px;
                    font-family: serif;
                }
                p:nth-child(3) {
                    color: var(--color-red-200);
                    margin-top: -0.8em;
                }
                button {
                    margin-top: 2.2em;
                }
                @media #{$media-laptop} {
                    h1 {
                        font-size: 8rem;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
                @media #{$media-tablet} {
                    h1 {
                        font-size: 6rem;
                    }
                    p {
                        font-size: 1.4rem;
                        max-width: 80%;
                    }
                }
                @media #{$media-mobile-sm} {
                    text-align: center;
                    h1 {
                        font-size: 5rem;
                    }
                    p {
                        font-size: 1.2rem;
                        max-width: unset;
                    }
                }
            }
            .image {
                img {
                    max-width: 80em;
                }
            }
        }
    }
    figure.article {
        margin-top: -2em;
        .content {
            @include layout(flex,
            space-between,
            center);
            gap: 4em;
            article {
                width: 100%;
                border-radius: 5px;
                padding: 3em 2em 3em 2em;
                background: var(--color-white-100);
                box-shadow: 0px 4px 80px rgba(206, 204, 204, 0.5);
                @include layout(flex,
                none,
                none);
                flex-direction: column;
                gap: 1.5em;
                h2 {
                    color: var(--color-red-100);
                }
                &:hover {
                    transform: scale(0.97);
                    transition: all 0.3s;
                }
                &:nth-child(2) {
                    transform: scale(1.19);
                    &:hover {
                        transform: scale(1.17);
                    }
                }
            }
            @media only screen and (max-width: 1098px) {
                flex-direction: column;
                gap: 1em;
                article:nth-child(2) {
                    transform: scale(1);
                }
            }
        }
    }
}