@import "../helpers/mixins";
nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    >div {
        padding: 0.8em 0 0.8em 0;
    }
    .top {
        background: var(--color-red-200);
        box-shadow: 0px 30px 150px rgba(0, 0, 0, 0.4);
        .content {
            ul {
                @include layout(flex, flex-start, center);
                gap: 1em;
                li {
                    a {
                        color: var(--color-white-100);
                        @media #{$media-tablet} {
                            font-size: 0.9rem;
                        }
                        @media #{$media-mobile-sm} {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .bottom {
        background: var(--color-white-100);
        .content {
            @include layout(flex, space-between, center);
            .__logo {
                img {
                    max-width: 25em;
                    @media #{$media-mobile-sm} {
                        max-width: 20em;
                    }
                }
            }
            ul {
                @include layout(flex, center, center);
                gap: 1.2em;
                li {
                    a {
                        color: var(--color-black-100);
                    }
                }
            }
            .--close-menu,
            .--open-menu {
                display: none;
            }
        }
        @media #{$media-laptop} {
            .content {
                .--close-menu,
                .--open-menu {
                    display: block;
                }
                ul {
                    position: fixed;
                    right: 0;
                    background: var(--color-red-200);
                    flex-direction: column;
                    top: 0;
                    padding: 2em;
                    height: 100%;
                    width: 25em;
                    align-items: flex-start;
                    box-shadow: -40px 0px 90px rgba(53, 48, 48, 0.4);
                    li {
                        padding: 1em;
                        &:first-child {
                            position: absolute;
                            top: 3.6em;
                            right: 1em;
                            i {
                                color: var(--color-white-100);
                                font-size: 2em;
                            }
                        }
                        a {
                            color: var(--color-white-100);
                            font-size: 1.3em;
                        }
                    }
                }
                .__menu-icon {
                    display: block;
                }
            }
        }
        @media #{$media-mobile-sm} {
            .content {
                ul {
                    width: 100%;
                }
            }
        }
    }
}