* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-black-100);
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.25;
    overflow-x: hidden;
    position: relative;
    visibility: visible;
    background: var(--color-white-200);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: var(--font-weight-700);
}

button,
input,
textarea {
    padding: 1em;
    background: none;
}

ul,
li {
    list-style: none;
}

i {
    font-size: 28px;
    cursor: pointer;
}

// button
button {
    border: none;
    padding: 1.2em 3em 1.2em 3em;
    font-weight: var(--font-weight-600);
    background-color: var(--color-red-200);
    color: var(--color-white-100);
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    max-width: 16em;
    &:hover {
        transform: all 0.3s;
        background-color: var(--color-red-100);
        cursor: pointer;
    }
    &.outlined {
        background: none;
        border: 1px var(--color-red-200) solid;
        color: var(--color-red-200);
        padding: 0.8em;
        max-width: unset;
        &:hover {
            background-color: var(--color-red-100);
            color: var(--color-white-100);
        }
    }
    @media #{$media-laptop} {
        max-width: 14em;
        padding: 1em 3em 1em 3em;
    }
    @media #{$media-tablet} {
        max-width: 12em;
        padding: 1em 2em 1em 2em;
    }
    @media #{$media-mobile-sm} {
        max-width: unset;
    }
}