.container {
    width: 100%;
    max-width: 80em;
    padding: 0 2em 0 2em;
    margin: 0 auto;
    @media #{$media-desktop} {
        .content {
            min-width: unset;
        }
    }
    @media #{$media-laptop} {
        max-width: unset;
        .content {
            min-width: unset;
        }
    }
}