:root {
    --color-red-100: #942727;
    --color-red-200: #d42b2b;
    --color-black-100: #393939;
    --color-black-200: #232222;
    --color-white-100: #fafafa;
    --color-white-200: #f6f6f6;
    --color-gray-100: #dfdfdf;
    --color-gray-200: #cfcfcf;
}