:root {
    // Colors
    --color-red-100: #aa2f2f;
    --color-red-200: #d42b2b;
    --color-red-300: #fdeded;
    --color-black-100: #393939;
    --color-black-200: #232222;
    --color-white-100: #fafafa;
    --color-white-200: #f6f6f6;
    --color-gray-100: #dfdfdf;
    --color-gray-200: #cfcfcf;
    // Font wight
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
}