:root {
  --color-red-100: #aa2f2f;
  --color-red-200: #d42b2b;
  --color-red-300: #fdeded;
  --color-black-100: #393939;
  --color-black-200: #232222;
  --color-white-100: #fafafa;
  --color-white-200: #f6f6f6;
  --color-gray-100: #dfdfdf;
  --color-gray-200: #cfcfcf;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--color-black-100);
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.25;
  overflow-x: hidden;
  position: relative;
  visibility: visible;
  background: var(--color-white-200);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: var(--font-weight-700);
}

button,
input,
textarea {
  padding: 1em;
  background: none;
}

ul,
li {
  list-style: none;
}

i {
  font-size: 28px;
  cursor: pointer;
}

button {
  border: none;
  padding: 1.2em 3em 1.2em 3em;
  font-weight: var(--font-weight-600);
  background-color: var(--color-red-200);
  color: var(--color-white-100);
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 16em;
}

button:hover {
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
  background-color: var(--color-red-100);
  cursor: pointer;
}

button.outlined {
  background: none;
  border: 1px var(--color-red-200) solid;
  color: var(--color-red-200);
  padding: 0.8em;
  max-width: unset;
}

button.outlined:hover {
  background-color: var(--color-red-100);
  color: var(--color-white-100);
}

@media only screen and (max-width: 1401px) {
  button {
    max-width: 14em;
    padding: 1em 3em 1em 3em;
  }
}

@media only screen and (max-width: 768px) {
  button {
    max-width: 12em;
    padding: 1em 2em 1em 2em;
  }
}

@media only screen and (max-width: 480px) {
  button {
    max-width: unset;
  }
}

section {
  margin: 28em 0 28em 0;
  padding: 1em;
}

.container {
  width: 100%;
  max-width: 95em;
  padding: 0 2em 0 2em;
  margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
  .container .content {
    min-width: unset;
  }
}

@media only screen and (max-width: 1401px) {
  .container {
    max-width: unset;
  }
  .container .content {
    min-width: unset;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: unset;
    padding: 0 1em 0 1em;
  }
  .container .content {
    min-width: unset;
  }
}

.hidden {
  display: none !important;
}

@media only screen and (min-width: 1400px) {
  .hidden {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
}

header figure.banner {
  height: 55vh;
  width: auto;
  background: url("/assets/content/main-banner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header figure.banner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header figure.banner .content .text p {
  line-height: 1.7;
  font-size: 2rem;
  max-width: 70%;
}

header figure.banner .content .text p:nth-child(1) {
  font-weight: var(--font-weight-600);
  margin-bottom: -0.8em;
  font-size: 1.4rem;
}

header figure.banner .content .text h1 {
  font-size: 10rem;
  color: var(--color-red-200);
  letter-spacing: 10px;
  font-family: serif;
}

header figure.banner .content .text p:nth-child(3) {
  color: var(--color-red-200);
  margin-top: -0.8em;
}

header figure.banner .content .text button {
  margin-top: 2.2em;
}

@media only screen and (max-width: 1401px) {
  header figure.banner .content .text h1 {
    font-size: 8rem;
  }
  header figure.banner .content .text p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  header figure.banner .content .text h1 {
    font-size: 6rem;
  }
  header figure.banner .content .text p {
    font-size: 1.4rem;
    max-width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  header figure.banner .content .text {
    text-align: center;
  }
  header figure.banner .content .text h1 {
    font-size: 5rem;
  }
  header figure.banner .content .text p {
    font-size: 1.2rem;
    max-width: unset;
  }
}

header figure.banner .content .image img {
  max-width: 80em;
}

header figure.article {
  margin-top: -2em;
}

header figure.article .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}

header figure.article .content article {
  width: 100%;
  border-radius: 5px;
  padding: 3em 2em 3em 2em;
  background: var(--color-white-100);
  -webkit-box-shadow: 0px 4px 80px rgba(206, 204, 204, 0.5);
          box-shadow: 0px 4px 80px rgba(206, 204, 204, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

header figure.article .content article h2 {
  color: var(--color-red-100);
}

header figure.article .content article:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header figure.article .content article:nth-child(2) {
  -webkit-transform: scale(1.19);
          transform: scale(1.19);
}

header figure.article .content article:nth-child(2):hover {
  -webkit-transform: scale(1.17);
          transform: scale(1.17);
}

@media only screen and (max-width: 1098px) {
  header figure.article .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  header figure.article .content article:nth-child(2) {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav > div {
  padding: 0.8em 0 0.8em 0;
}

nav .top {
  background: var(--color-red-200);
  -webkit-box-shadow: 0px 30px 150px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 150px rgba(0, 0, 0, 0.4);
}

nav .top .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

nav .top .content ul li a {
  color: var(--color-white-100);
}

@media only screen and (max-width: 768px) {
  nav .top .content ul li a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 480px) {
  nav .top .content ul li a {
    font-size: 0.8rem;
  }
}

nav .bottom {
  background: var(--color-white-100);
}

nav .bottom .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bottom .content .__logo img {
  max-width: 25em;
}

@media only screen and (max-width: 480px) {
  nav .bottom .content .__logo img {
    max-width: 20em;
  }
}

nav .bottom .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2em;
}

nav .bottom .content ul li a {
  color: var(--color-black-100);
}

nav .bottom .content .--close-menu,
nav .bottom .content .--open-menu {
  display: none;
}

@media only screen and (max-width: 1401px) {
  nav .bottom .content .--close-menu,
  nav .bottom .content .--open-menu {
    display: block;
  }
  nav .bottom .content ul {
    position: fixed;
    right: 0;
    background: var(--color-red-200);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    padding: 2em;
    height: 100%;
    width: 25em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: -40px 0px 90px rgba(53, 48, 48, 0.4);
            box-shadow: -40px 0px 90px rgba(53, 48, 48, 0.4);
  }
  nav .bottom .content ul li {
    padding: 1em;
  }
  nav .bottom .content ul li:first-child {
    position: absolute;
    top: 3.6em;
    right: 1em;
  }
  nav .bottom .content ul li:first-child i {
    color: var(--color-white-100);
    font-size: 2em;
  }
  nav .bottom .content ul li a {
    color: var(--color-white-100);
    font-size: 1.3em;
  }
  nav .bottom .content .__menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  nav .bottom .content ul {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */